/*畫面切換*/
.pt-page-current,.no-js .pt-page {
    visibility: visible;
}

.no-js body {
    overflow: auto;
}

/*app 滑動 設定*/
.swiper-container {
    width: 600px;
    height: 300px;
}


.pt-page {
    width: 100%;
//height: 100%;
    position: absolute;
    visibility: hidden;
//overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

/*---------------------------動畫效果-----------------------------*/
.pt-page-moveToLeftFade {
    -webkit-animation: moveToLeftFade .7s ease both;
    animation: moveToLeftFade .7s ease both;
}

.pt-page-moveFromLeftFade {
    -webkit-animation: moveFromLeftFade .7s ease both;
    animation: moveFromLeftFade .7s ease both;
}

.pt-page-moveToRightFade {
    -webkit-animation: moveToRightFade .7s ease both;
    animation: moveToRightFade .7s ease both;
}

.pt-page-moveFromRightFade {
    -webkit-animation: moveFromRightFade .7s ease both;
    animation: moveFromRightFade .7s ease both;
}

@-webkit-keyframes moveToLeftFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeftFade {
    from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
    from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(250%); }
}
@keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(250%); transform: translateX(250%); }
}

@-webkit-keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}
